/*@font-face {
    font-family: ScriptinaPro;
    src: url("./fonts/scriptina-pro/Scriptina_Pro.otf");
}*/

main {
  padding: 5px 10px;;
  display: flex;
  flex-direction: column;
  justify-content:   flex-start;;
}

#b1 {
  max-width: 18%;
}
